@if (pokemon() === null) {
<p> Cargando pokemon...</p>
} @else {
@let mypokemon = pokemon()!;

<section class="flex flex-col justify-center ">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold capitalize my-5">{{ mypokemon.name }}</h1>
  </div>
</section>

<section class="flex justify-center">
  <img [src]="mypokemon.sprites.other?.['official-artwork']?.front_default" [alt]="mypokemon.name" class="w-48 h-48"
    width="192px" height="192px" />
</section>

@if (mypokemon.cries.latest !== null) {
<section class="flex justify-center mt-4">
  <audio controls>
    <source [src]="mypokemon.cries.latest" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</section>
}

<section class="flex justify-center">
  <h2 class="text-2xl font-bold mt-2">Habilidades:</h2>
  <div class="flex flex-wrap items-center">
    @for (ability of mypokemon.abilities; track ability.ability) {
    <span class="mx-2 mt-3">{{ ability.ability?.name }}</span>
    }
  </div>
</section>
}